/* Global styles for Services */
.services-section {
  background-color: #856088;
  color: white;
  padding: 4rem 2rem;
  text-align: center; 
}

.services-section h2 {
  font-size: 2.8rem;
  margin-bottom: 1rem;
  color: white;
  animation: fadeInDown 0.8s ease-in-out;
}

.services-subtitle {
  font-size: 1.4rem;
  margin-bottom: 3rem;
  color: #e5e5e5;
  line-height: 1.8; 
  animation: fadeInUp 0.8s ease-in-out;
}

.services-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

/* Card styles */
.service-card {
  background-color: #000;
  border-radius: 1rem;
  padding: 2rem;
  border: 1px solid #d6b4fc;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease, opacity 0.5s ease;
  opacity: 0;
}
.service-card.visible {
  transform: translateY(0);
  opacity: 1;
}
.service-card:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}

/* Icon styles */
.service-icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  width: 80px;
  margin: 0 auto 1rem;
  border-radius: 50%;
  background-color: #d6b4fc;
}

.service-icon-container > svg {
  font-size: 36px;
  color: #000;
}

/* Card title and description */
.service-card-title {
  font-size: 1.5rem;
  color: #fff;
  margin-bottom: 0.5rem;
}

.service-card-description {
  font-size: 1rem;
  color: #d6d6d6;
  margin-bottom: 1.5rem;
}

/* Features */
.features {
  display: flex;
  flex-direction: column;
  gap: 1rem; /* Espacement vertical entre les éléments */
  padding: 0;
}

.feature-active {
  background-color: #d6b4fc; /* Couleur principale */
  color: black;
  padding: 0.8rem 1rem;
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
  border-radius: 12px; /* Coins arrondis */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Ombre légère */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Animations */
@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (min-width: 699px) and (max-width : 1140px){
  .fitness-card-title, .service-card-title {
    font-size: 1.3em;
  }

  .fitness-card-description, .service-card-description {
    font-size: 0.7em;
  }

  .feature-active {
    font-size: 0.8em;
  }

  .services-subtitle {
    font-size: 1.2em;
  }

  .services-section h2, .fitness-title {
    font-size: 2em;
  }
}